##### Context
It is important that credit card companies are able to recognize fraudulent credit card transactions so that customers are not charged for items that they did not purchase.

##### Content
The dataset contains transactions made by credit cards in September 2013 by European cardholders.
This dataset presents transactions that occurred in two days, where we have 492 frauds out of 284,807 transactions. The dataset is highly unbalanced, the positive class (frauds) account for 0.172% of all transactions.

It contains only numerical input variables which are the result of a PCA transformation. Unfortunately, due to confidentiality issues, we cannot provide the original features and more background information about the data. Features V1, V2, … V28 are the principal components obtained with PCA, the only features which have not been transformed with PCA are 'Time' and 'Amount'. Feature 'Time' contains the seconds elapsed between each transaction and the first transaction in the dataset. The feature 'Amount' is the transaction Amount, this feature can be used for example-dependant cost-sensitive learning. Feature 'Class' is the response variable and it takes value 1 in case of fraud and 0 otherwise.

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

Load the dataset using pandas #as a pandas dataframe

In [2]:
credit_card_data = pd.read_csv('creditcard.csv')

In [3]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

Get general information about the dataset  #null, count, datatype

In [5]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [6]:
#check the number of missing values(null) in each column, in this case 0
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [7]:
#check the distribution of legit and fraudulent transaction 
credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

Legit transactions ----> 0
Fraudulent -----> 1
More than 99% of the class is categorised 0 ie. Legit transactions. Hence the dataset is highly imbalanced.
We cannot fit this data into the ML model because we do not have enough data points for Fraudulent transactions
ML will not recognise the fraudulent data points.

In [8]:
#Seperate the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [9]:
#shape of the dataframes
#rows and colums
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [10]:
#statistical measures of the data in this case we're looking at the Amount metric only
#mean mode percentile etc
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [11]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [12]:
#Compare the statistical measures of the two classes
#you can try mode
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Under-sampling

Dealing with imbalanced data using undersampling
Build a sample dataset containing legit transactions with distribution similar to that of fraudulent that only has 492 entries

In [13]:
#randomly sample the legit dataframe
legit_sample = legit.sample(n=492)

Concatenate two dataframes to craete a new df

In [14]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)
#axis 0, data added rowise, axis is 1, data is added columnwise

In [15]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
10061,15228.0,-0.223094,1.475741,-0.093224,0.935661,0.605358,-0.149391,0.427225,0.337271,0.220106,...,0.094010,0.648300,0.045357,-0.330447,-0.741023,-0.422053,0.305997,0.145016,2.99,0
75577,56133.0,1.057354,0.013390,-0.009534,1.254409,0.299646,0.357299,0.263866,-0.067427,0.120512,...,-0.087799,-0.137580,-0.259846,-0.714633,0.791624,-0.274252,0.031913,0.025579,95.00,0
245937,152970.0,2.041905,-0.148399,-1.385492,0.178198,0.087998,-0.758720,0.021653,-0.144913,0.531359,...,0.284990,0.923087,-0.035348,-0.381482,0.222776,-0.092808,-0.022931,-0.073555,1.00,0
155653,106023.0,-0.439610,0.764008,1.947921,-0.356435,0.620705,0.338130,0.517838,-0.177661,1.604221,...,-0.368975,-0.615944,-0.404710,-1.171637,0.388394,-0.659577,-0.082000,-0.156592,11.27,0
261283,159944.0,2.101305,-1.210973,-0.802294,-0.866235,-1.023834,-0.472391,-0.966968,-0.092275,0.284082,...,0.303710,0.809531,0.008984,-0.633066,-0.102861,-0.050687,-0.005653,-0.046477,69.00,0

In [16]:
new_dataset.tail()
#you will see fraud as it was added rowise

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [17]:
#confirrms undersampling worked
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [18]:
#Compare the statistical measures of the two classes
#you can try mode

#shows the nature of the datasets have not changed even after undersampling
#statistical measures are similar so we got a good sample. Otherwise sample again

new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,97910.512195,0.196741,0.139184,-0.022538,0.097775,0.118448,0.050187,0.051072,0.019968,-0.014835,...,0.019691,-0.041046,-0.032938,0.015477,-0.019468,0.014138,-0.008876,0.004976,-0.000446,67.553862
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Split our dataset into features(all other variables) and targets(class)

In [19]:
X =  new_dataset.drop(columns = 'Class', axis = 1) #axis is equal toone hence the split will happen columnwise
Y =  new_dataset['Class']

In [20]:
print(X)
#notice the number of columns has reduced by 1

            Time        V1        V2        V3        V4        V5        V6  \
10061    15228.0 -0.223094  1.475741 -0.093224  0.935661  0.605358 -0.149391
75577    56133.0  1.057354  0.013390 -0.009534  1.254409  0.299646  0.357299
245937  152970.0  2.041905 -0.148399 -1.385492  0.178198  0.087998 -0.758720
155653  106023.0 -0.439610  0.764008  1.947921 -0.356435  0.620705  0.338130
261283  159944.0  2.101305 -1.210973 -0.802294 -0.866235 -1.023834 -0.472391
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
10061   0.427225  0.337271  0.220106  ... -0.059520  0.094010  0.648300
75577   0.263866 -0.067427  0.120512  ...  0.104907 -0.087799 -0.137580
245937  0.021653 -0.144913  0.531359  ... -0.286553  0.284990  0.923087
155653  0.517838 -0.177661  1.604221  ...  0.098630 -0.368975 -0.615944
261283 -0.966968 -0.092275  0.284082  ...  0.059241  0.303710  0.809531
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
10061   0.045357 -0.330447 -0.741023 -0.422053  0.305997  0.145016    2.99
75577  -0.259846 -0.714633  0.791624 -0.274252  0.031913  0.025579   95.00
245937 -0.035348 -0.381482  0.222776 -0.092808 -0.022931 -0.073555    1.00
155653 -0.404710 -1.171637  0.388394 -0.659577 -0.082000 -0.156592   11.27
261283  0.008984 -0.633066 -0.102861 -0.050687 -0.005653 -0.046477   69.00
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [21]:
print(Y)
#only one column available

10061     0
75577     0
245937    0
155653    0
261283    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

Split the data into Training data and Testing data
20% ----> TESTING
80% ----> TRAINING

In [22]:
X_train, X_test, Y_train, Y_test = train_test_split(X ,Y, test_size=0.2, stratify=Y, random_state=2)
#4Arrays are created
#random state is two becasue we'll split the data in two, tain and test
#you stratify the data  so that both 1&2 classes can be represented wellin both training and testing

In [23]:
#Observe the difference in the dfs as far as you came
print(X.shape, X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

In [24]:
print(Y.shape, Y_train.shape, Y_test.shape)

(984,) (787,) (197,)

Model Trainiing

Use Logistic Regression

Used where outcome is either or. Solves classification problems

In [25]:
model = LogisticRegression()

In [26]:
#Train the Logistic Regression Model with the training data
model.fit(X_train, Y_train)

LogisticRegression()

Model Evaluation

Accuracy Score

In [27]:
#accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [28]:
print('Accuracy on training data:', training_data_accuracy)

Accuracy on training data: 0.9263024142312579

In [29]:
#accuracy on test data
X_test_prediction = model.predict(X_test)
testing_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [30]:
print('Accuracy on test data:', testing_data_accuracy)

Accuracy on test data: 0.9187817258883249

USING RANDOM FOREST

Used for regression as well as classification problems. Handles large datasets effectively